body
{
  background-color: #000000;
  color: white;

}

button
{

  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
  margin: 1px 2px 1px 2px;

}

.display
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  margin: 0;
}

.number-button
{
  background-color: rgb(44, 42, 42);
  font-size: 25px;

}

.clear-button
{
  background-color: rgb(44, 42, 42);
  font-size: 18px;

}

.operator-button
{
  background-color: rgb(215, 140, 65);
  font-size: 25px;
}